/* Screenprint Designer styles */

.screenprint-designer-page {
	/* Variables */
	--options-color: #34485f;
	--options-color-light: #9daec1;
	--footer-height: 110px;
	--nav-height: 58px;
	--header-height: 110px;
	--not-main-height: calc(var(--footer-height) + var(--nav-height) + var(--header-height));

	h1 {
		text-align: center;
		font-size: 36px;
		text-transform: uppercase;
		padding: 40px;
	}

	main {
		display: grid;
		justify-content: center;
		align-items: center;
		min-height: calc(100vh - var(--not-main-height));
		grid-template-columns: .85fr 1fr;
		gap: 48px;
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 20px 50px;

		@media only screen and (max-width: 680px) {
			height: auto;
			grid-template-columns: 350px;
			padding: 0 50px 50px;
		}
	}

	.hidden {
		display: none;
	}

	// ========================
	// Design Layout Section
	// ========================
	.design-layout-section {
		display: flex;
		flex-direction: column;

		.design-layout-container {
			position: relative;
			border: 8px solid var(--options-color);
			overflow: hidden;
		}

		.tee-image {
			position: relative;
			width: 100%;
			pointer-events: none;
			display: flex;
			z-index: 1000;
		}

		.design-image-wrapper {
			width: 100%;
			position: absolute;
		}

		.design-image {
			margin: 0 auto;
			width: 100%;
		}

		[draggable] {
			cursor: move;
		}

		.no-drag {
			pointer-events: none;
		}
	}

	// =====================
	// Options Section
	// =====================
	.options-container {
		border: 8px solid var(--options-color);
		display: grid;
		height: 100%;

		.option-section {
			border-bottom: 4px solid var(--options-color);
			padding: 18px 18px 18px;

			&:last-of-type {
				border: none;
			}
		}

		// Options with Sub-sections
		.sub-section-container {
			padding: 0;

			.sub-divider {
				display: flex;

				&:nth-child(n + 2) {
					&::before {
						content: '';
						height: 100%;
						width: 4px;
						background-color: var(--options-color);
					}
				}
			}

			.option-sub-section {
				width: 100%;
				display: flex;
				flex-direction: column;
				padding: 18px 18px;
			}

			.option-label {
				padding-bottom: 14px;
			}
		}

		.row {
			display: flex;
			padding-bottom: 10px;
		}

		.option-label {
			font-family: sans-serif;
			font-weight: 500;
			display: block;
			font-size: 18px;
			text-transform: uppercase;
			color: var(--options-color);
		}

		// =========================
		// Garment Style
		// =========================
		.option-garment-style {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 20px;

			.option-garment {
				text-align: center;
			}

			input[type="radio"] {
			// Guide to styling radio buttons
			// https://dev.to/adbutterfield/custom-styling-radio-buttons-the-modern-way-the-butterfield-way-emk
				--radio-border-color: var(--options-color-light);
				--radio-checked-color: var(--options-color);

				box-sizing: border-box;
				cursor: pointer;
				width: 20px;
				height: 20px;
				margin: 6px;
				padding: 0;
				border: 2px solid var(--radio-border-color);
				border-radius: 50%;
				appearance: none;
				background-color: transparent;
				outline: none;

				&:hover {
					box-shadow: 0 0 0 2px var(--options-color-light);
					transition: all 200ms ease-out;
				}
			}

			input[type="radio"]:not(:disabled):checked {
				border-color: var(--radio-checked-color);
				background-color: var(--radio-checked-color);
				background-clip: content-box;
				padding: 2px;
				background-image: radial-gradient(
					circle,
					var(--radio-checked-color) 0%,
					var(--radio-checked-color) 50%,
					transparent 60%,
					transparent 100%
				);

				&:hover {
					box-shadow: 0 0 0 2px transparent;
					cursor: inherit;
				}
			}
		}

		// =========================
		// Garment Color
		// =========================
		.option-garment-color {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 8px;

			.option-label {
				margin-right: 4px;
			}

			.option-color {
				text-align: center;
			}

			input[type="radio"] {
				--radio-border-color: var(--options-color-light);
				cursor: pointer;
				width: 28px;
				height: 28px;
				border-radius: 0;
				margin: 2px;
				appearance: none;
			}

			input[type="radio"].color-white {
				border: 2px solid var(--radio-border-color);
			}

			input[type="radio"] + label {
				opacity: 0;
				font-size: 5px;
			}

			input[type="color"] {
				cursor: pointer;
				width: 35px;
				height: 40px;
				border: 0 solid transparent;
				background-color: transparent;
				margin-top: -3px;
				color: transparent;
			}

			input[type="color"]::-webkit-color-swatch {
				border-radius: 0;
				border: none;
				height: 28px;
			}

			input[type="color"]:not(:disabled):hover,
			input[type="radio"]:not(:disabled):hover {
				transform: scale(1.15);
				transition: all 200ms ease-out;
			}
		}

		// ===============================
		// Upload Image & Image Gallery
		// ===============================
		.images-section {
			display: grid;
			grid-template-columns: auto auto;

			// Upload Image
			.option-upload-image {
				input::file-selector-button {
					font-size: 16px;
					font-weight: bold;
					color: var(--options-color);
					background-color: #d7e0e8;
					background-image: linear-gradient(#f1f5fb, #d7e0e8);
					border: 1px solid var(--options-color-light);
					padding: 6px 14px;
					margin: 2px;
					cursor: pointer;
				}

				input[type='file'] {
					font-size: 17px;
					color: var(--options-color);
					max-width: 250px;
				}
			}

			// Image Gallery
			.option-image-gallery {
				.gallery-container {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					gap: 10px;

					.gallery-image-button {
						border: none;
						padding: 10px;
						opacity: .7;
						transition: opacity 200ms ease-in-out;
						background-color: black;
						cursor: pointer;

						&:hover {
							opacity: 1;
						}
					}

					.gallery-image {
						width: 100%;
						pointer-events: none;
					}
				}
			}
		}

		// ============================
		// Art Size, Rotate & Delete
		// ============================
		.option-size-rotate-delete {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;

			.option-sub-section {
				justify-content: space-between;
				flex-direction: row;
			}

			.option-label {
				margin-right: 10px;
			}

			.option-button {
				cursor: pointer;
				width: 42px;
				color: var(--options-color);
				font-size: 26px;
				font-weight: bold;
				border: 1px solid #a8b6c5;
				background-color: #d7e0e8;
				background-image: linear-gradient(#f1f5fb, #d7e0e8);
				padding-bottom: 7px;
				transition: transform 200ms ease-in-out;

				&:hover {
					transform: scale(1.1);
					transition: transform 200ms ease-in-out;
				}

				& + .option-button {
					margin-left: 15px;
				}
			}

			.option-size,
			.option-rotate,
			.option-delete {
				display: flex;
				padding: 18px 18px;
			}

			.option-delete {
				justify-content: center;
				align-items: center;
				width: 100%;

				.option-label {
					display: none;
				}
			}

			.rotate-icon,
			.delete-icon {
				display: block;
				pointer-events: none;
				width: 28px;
				margin-top: 6px;
				margin-left: auto;
				margin-right: auto;

				path {
					fill: var(--options-color);
				}
			}

			.rotate-left-icon {
				transform: rotate(8deg);
			}

			.rotate-right-icon {
				transform: rotate(-8deg) scaleX(-1);
			}

			.delete-icon {
				width: 26px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		// =====================
		// Filters Section
		// =====================
		.option-filters {
			display: grid;
			grid-template-columns: auto 2fr;
			gap: 14px;
			padding-bottom: 6px;

			.option-button-filter {
				display: inline-block;
				font-size: 16px;
				font-weight: bold;
				color: var(--options-color);
				border: 1px solid #a8b6c5;
				background-color: #d7e0e8;
				background-image: linear-gradient(#f1f5fb, #d7e0e8);
				transition: all 200ms ease-out;
				padding: 6px 10px;
				margin-right: 12px;
				margin-bottom: 12px;
				cursor: pointer;
			}

			.active {
				color: white;
				border: 1px solid var(--options-color);
				background-color: var(--options-color);
				background-image: linear-gradient(var(--options-color), var(--options-color));
				transition: all 200ms ease-out;
			}
		}
	}
}
