/* Screenprint Designer styles */

.screenprint-designer-page {
	/* Variables */
	--options-color: #34485f;
	--options-color-light: #9daec1;
	$breakpoint-width-large-med: 1200px;
	$design-layout-width-large: 600px;
	$design-layout-width-med: 400px;
	$design-layout-width-small: 400px;

	h1 {
		text-align: center;
		font-size: 36px;
		text-transform: uppercase;
		padding: 40px;
	}

	main {
		display: grid;
		justify-content: center;
		grid-template-columns: $design-layout-width-large 1fr;
		gap: 2.2em;
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 20px;

		@media (orientation: portrait) {
			gap: 24px;
			grid-template-columns: 1fr;
			max-height: 100vh;
			overflow-y: scroll;
		}
	}

	.hidden {
		display: none;
	}

	// ========================
	// Design Layout Section
	// ========================
	.design-layout-section {
		display: flex;
		flex-direction: column;
		z-index: 100;
		// adding border here to prevent border seen in canvas
		border: 8px solid var(--options-color);

		@media (orientation: portrait) {
			margin: 0 auto;
			border: 6px solid var(--options-color);
			position: sticky;
			width: $design-layout-width-med;
			top: 0;

			@media (max-width: 500px) {
				width: $design-layout-width-small;
			}

			// adding scrim to prevent options section
			// from being seen with sticky scroll
			&::before {
				content: '';
				width: 100%;
				height: 10px;
				position: absolute;
				top: -32px;
				left: -8px;
				background-color: white;
				border: 8px solid white;
			}

			&::after {
				content: '';
				width: calc(100% + 12px);
				height: 24px;
				position: absolute;
				bottom: -36px;
				left: -6px;
				background-color: white;
				border-bottom: 6px solid var(--options-color);
			}
		}

		.design-layout-container {
			position: relative;
			height: auto;
			overflow: hidden;
		}

		.tee-image {
			position: relative;
			width: 100%;
			pointer-events: none;
			display: flex;
			z-index: 1000;
		}

		.design-image-wrapper {
			width: 100%;
			position: absolute;
		}

		.design-image {
			margin: 0 auto;
			width: 100%;
		}

		[draggable] {
			cursor: move;
		}

		.no-drag {
			pointer-events: none;
		}
	}

	// =====================
	// Options Section
	// =====================
	.options-container {
		border: 8px solid var(--options-color);
		display: grid;
		height: 100%;

		@media (orientation: portrait) {
			border: 6px solid var(--options-color);
			margin: 0 auto;
			width: $design-layout-width-med;

			@media (max-width: 1250px) {
				width: $design-layout-width-small;
			}
		}

		.option-section {
			border-bottom: 4px solid var(--options-color);
			padding: 18px 18px 18px;

			&:last-of-type {
				border: none;
			}
		}

		// Options with Sub-sections
		.sub-section-container {
			padding: 0;

			.sub-divider {
				display: flex;

				@media (orientation: landscape) {
					// adding vertical lines in-between sections
					&:nth-child(n + 2) {
						&::before {
							content: '';
							height: 100%;
							width: 4px;
							background-color: var(--options-color);
						}
					}
				}

				@media (orientation: portrait) {
					// adding horizontal lines in-between sections
					&:not(:nth-last-child(1)) {
						border-bottom: 4px solid var(--options-color);
					}
				}
			}

			.option-sub-section {
				width: 100%;
				display: flex;
				flex-direction: column;
				padding: 18px 18px;
			}

			.option-label {
				padding-bottom: 14px;
			}
		}

		.row {
			display: flex;
			justify-content: center;
		}

		.option-label {
			font-family: sans-serif;
			font-weight: 500;
			display: block;
			font-size: 18px;
			text-transform: uppercase;
			color: var(--options-color);
		}

		// =========================
		// Garment Style
		// =========================
		.option-garment-style {
			display: grid;
			grid-template-columns: 1fr repeat(3, .6fr);
			gap: 20px;

			@media (orientation: portrait) {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				row-gap: 4px;
				column-gap: 20px;
			}

			.option-label {
				@media (orientation: portrait) {
					width: 100%;
				}
			}

			.option-garment {
				text-align: center;
			}

			input[type="radio"] {
			// Guide to styling radio buttons
			// https://dev.to/adbutterfield/custom-styling-radio-buttons-the-modern-way-the-butterfield-way-emk
				--radio-border-color: var(--options-color-light);
				--radio-checked-color: var(--options-color);

				box-sizing: border-box;
				cursor: pointer;
				width: 20px;
				height: 20px;
				margin: 6px;
				padding: 0;
				border: 2px solid var(--radio-border-color);
				border-radius: 50%;
				appearance: none;
				background-color: transparent;
				outline: none;

				&:hover {
					box-shadow: 0 0 0 2px var(--options-color-light);
					transition: all 200ms ease-out;
				}
			}

			input[type="radio"]:not(:disabled):checked {
				border-color: var(--radio-checked-color);
				background-color: var(--radio-checked-color);
				background-clip: content-box;
				padding: 2px;
				background-image: radial-gradient(
					circle,
					var(--radio-checked-color) 0%,
					var(--radio-checked-color) 50%,
					transparent 60%,
					transparent 100%
				);

				&:hover {
					box-shadow: 0 0 0 2px transparent;
					cursor: inherit;
				}
			}
		}

		// =========================
		// Garment Color
		// =========================
		.option-garment-color {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 8px;

			.option-label {
				margin-right: 4px;

				@media (orientation: portrait) {
					margin-bottom: 4px;
					width: 100%;
				}
			}

			.option-color {
				text-align: center;
			}

			input[type="radio"] {
				--radio-border-color: var(--options-color-light);
				cursor: pointer;
				width: 28px;
				height: 28px;
				border-radius: 0;
				margin: 2px;
				appearance: none;
			}

			input[type="radio"].color-white {
				border: 2px solid var(--radio-border-color);
			}

			input[type="radio"] + label {
				opacity: 0;
				font-size: 5px;
			}

			input[type="color"] {
				cursor: pointer;
				width: 35px;
				height: 40px;
				border: 0 solid transparent;
				background-color: transparent;
				margin-top: -3px;
				color: transparent;

				@media (orientation: portrait) {
					width: 38px;
					height: 38px;
				}
			}

			input[type="color"]::-webkit-color-swatch {
				border-radius: 0;
				border: none;
				height: 28px;
			}

			input[type="color"]:not(:disabled):hover,
			input[type="radio"]:not(:disabled):hover {
				transform: scale(1.15);
				transition: all 200ms ease-out;
			}
		}

		// ===============================
		// Upload Image & Image Gallery
		// ===============================
		.images-section {
			display: grid;
			grid-template-columns: auto auto;

			@media (orientation: portrait) {
				grid-template-columns: 1fr;
			}

			// Upload Image
			.option-upload-image {
				input::file-selector-button {
					font-size: 16px;
					font-weight: bold;
					color: var(--options-color);
					background-color: #d7e0e8;
					background-image: linear-gradient(#f1f5fb, #d7e0e8);
					border: 1px solid var(--options-color-light);
					padding: 6px 14px;
					margin: 2px;
					cursor: pointer;

					&:hover {
						box-shadow: 0 0 0 2px var(--options-color-light);
						transition: all 200ms ease-out;
					}
				}

				input[type='file'] {
					font-size: 17px;
					color: var(--options-color);
					max-width: 250px;
				}
			}

			// Image Gallery
			.option-image-gallery {
				.gallery-container {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					gap: 10px;

					.gallery-image-button {
						border: none;
						padding: 10px;
						opacity: .7;
						transition: opacity 200ms ease-in-out;
						background-color: black;
						cursor: pointer;

						&:hover {
							opacity: 1;
						}
					}

					.gallery-image {
						width: 100%;
						pointer-events: none;
					}
				}
			}
		}

		// =============================================
		// Art Size, Rotate, Border Radius, & Delete
		// =============================================
		.art-manipulation-section {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr .7fr;

			@media (max-width: $breakpoint-width-large-med) {
				grid-template-columns: 1fr 1fr;
			}

			@media (orientation: portrait) {
				grid-template-columns: 1fr;
			}

			.option-sub-section {
				justify-content: space-between;
			}

			.sub-divider {
				@media (max-width: $breakpoint-width-large-med) {
					// adding horizontal lines in-between sections
					&:not(:nth-child(n + 3)) {
						border-bottom: 4px solid var(--options-color);
					}
				}

				@media (max-width: $breakpoint-width-large-med) {
					// hide vertical on 3rd container
					&:nth-child(n + 3):nth-child(-n + 3) {
						&::before {
							background-color: transparent;
						}
					}
				}
			}

			.option-button {
				cursor: pointer;
				color: var(--options-color);
				font-size: 26px;
				font-weight: bold;
				border: 1px solid #a8b6c5;
				background-color: #d7e0e8;
				background-image: linear-gradient(#f1f5fb, #d7e0e8);
				padding-bottom: 5px;
				transition: all 200ms ease-out;

				& + .option-button {
					margin-left: 15px;
				}


				&:hover {
					box-shadow: 0 0 0 2px var(--options-color-light);
					transition: all 200ms ease-out;
				}
			}

			.option-button:has(.rotate-icon),
			.option-button:has(.delete-icon) {
				width: 42px;
				padding: 2px 0 7px;
			}

			@media (orientation: portrait) {
				.option-button:has(.minus-icon) {
					padding: 2px 5px 5px 5px;
				}

				.option-button:has(.plus-icon) {
					padding: 2px 5px 5px 11px;
				}
			}

			.minus-icon {
				pointer-events: none;
				padding: 0 9px 0;
			}

			.plus-icon {
				display: block;
				pointer-events: none;
				margin-top: 4px;
				padding: 0 6px 0;

				@media (orientation: portrait) {
					padding-left: 0;
					margin: 0;
				}
			}

			.option-delete .option-button {
				align-self: center;
			}

			.rotate-icon {
				height: 24px;
			}

			.rotate-icon,
			.delete-icon {
				margin-top: 6px;
				display: block;
				margin-left: auto;
				margin-right: auto;
				pointer-events: none;

				path {
					fill: var(--options-color);
				}
			}

			.rotate-left-icon {
				transform: rotate(8deg);
			}

			.rotate-right-icon {
				transform: rotate(-8deg) scaleX(-1);
			}

			.delete-icon {
				width: 26px;
			}
		}

		// =====================
		// Filters Section
		// =====================
		.option-filters {
			display: grid;
			grid-template-columns: auto 2fr;
			gap: 14px;
			padding-bottom: 6px;

			@media (orientation: portrait) {
				grid-template-columns: 1fr;
			}

			.option-button-filter {
				display: inline-block;
				font-size: 16px;
				font-weight: bold;
				color: var(--options-color);
				border: 1px solid #a8b6c5;
				background-color: #d7e0e8;
				background-image: linear-gradient(#f1f5fb, #d7e0e8);
				transition: all 200ms ease-out;
				padding: 6px 10px;
				margin-right: 12px;
				margin-bottom: 12px;
				cursor: pointer;

				&:hover {
					box-shadow: 0 0 0 2px var(--options-color-light);
				}

				@media (orientation: portrait) {
					margin-right: 10px;
					margin-bottom: 10px;
				}
			}

			.active {
				color: white;
				border: 1px solid var(--options-color);
				background-color: var(--options-color);
				background-image: linear-gradient(var(--options-color), var(--options-color));
				transition: all 200ms ease-out;

				&:hover {
					box-shadow: 0 0 0 2px transparent;
					cursor: inherit;
				}
			}
		}

		// =====================
		// Share Card Button
		// =====================
		.option-share {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.share-button {
			font-weight: 800;
			font-size: 18px;
			text-transform: uppercase;
			color: var(--options-color);
			padding: 10px 16px;
			border: 1px solid #a8b6c5;
			background-color: #d7e0e8;
			background-image: linear-gradient(#f1f5fb, #d7e0e8);

			&:hover {
				box-shadow: 0 0 0 2px var(--options-color-light);
				transition: all 200ms ease-out;
			}
		}
	}
}
